.App {
  text-align: center;
}

.btn{
  text-decoration: none;
  border: none;
  background: none;
  font-size: 20px;
}

.btn:hover{
  background-color: #2167A3;
  color: white;
  font-family: "Proxima", Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.background{
  background-image: url(./images/4.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: -1;
  align-items: center;
}

.background-result{
  background-image: url(./images/11.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
  text-align: left;
  padding: 10px;
}

.userInput{
  display: flex;
  flex-direction: column;
  align-items:center;
}

.input{
  width:300px;
  height:20px;
  margin-bottom: 50px;
  padding: 10px;
  font-size: 20px;
}

input::placeholder{
  font-size: 20px;
}

.submit{
  width:200px;
  height:35px;
  border-radius: 4px;
  margin-bottom: 25px;
  font-size: 20px;
}

.submit2{
  width:200px;
  height:35px;
  border-radius: 4px;
  margin-top: 25px;
  font-size: 20px;
}

.submit2:hover {
    background-color: #2167A3;
    color: white;
    font-family: "Proxima", Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.submit:hover {
    background-color: #2167A3;
    color: white;
    font-family: "Proxima", Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.error{
  color: red;
  font-size: 25px;
  letter-spacing: 1px;
}

.container{
  display: flex;
  height: 100%;
  background-image: url(./images/images.jpeg);
  background-repeat: no-repeat;
  background-size: 100%;
  justify-content: center;
  z-index: -1;
}

.result-container{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}
